- cache do
  %h1.photo_guideline 投稿公開に関するガイドライン
  %p 投稿内容する文字や画像に以下のようなものが含まれるものは非公開としたり、削除する場合があります。写真への写り込み等、投稿時にはくれぐれもご注意ください。写真の場合、問題となる部分を判別できないようにぼかしたものであれば問題ありません。

  %div.term
    %div.term-head 個人に関する情報
    %div (１) 個人情報
    %p レポート内容により個人が特定され又は特定され得るもの（他の情報との照合により個人を特定することができる情報を含む)
    %div (２) 個人のプライバシーを侵害又は侵害する恐れのあるもの
    %div 個人に関する情報の例
    %p 氏名、住所、メールアドレス、識別可能な顔写真、表札、車のナンバーなど

  %div.term
    %div.term-head 不適切な情報
    %p (１) バス停に関係の無いもの
    %p (２) 公序良俗に反するもの
    %p (３) 知的所有権（著作権)・肖像権等他人の権利を侵害するもの
    %p (４) 広告等商業目的のもの
    %p (５) 画像が不鮮明なもの
    %p (６) 位置情報が不正確なもの
    %p (７) その他不適切な情報と判断されたもの
