- cache do
  %h1.terms_of_service 利用規約
  %p crowdb.usを利用するためには、以下の利用規約に同意することが必要です。同意することができない場合は、本サービスを利用できません。なお、本サービスを利用する方は、利用規約に同意したものとみなされます。

  %div.term
    %div.term-head (目的)
    %p 第１条 この規約は、crowdb.usに参加するための利用者登録及びバス停情報(文字、位置情報、写真等)投稿をするために必要な事項を定めるものです。

  %div.term
    %div.term-head (参加登録)
    %p 第２条 参加登録は、スマートフォン用アプリケーション(以下「crowdb.usアプリ」といいます。)及びＷＥＢブラウザ用ホームページ(以下「crowdb.usホームページ」といいます。)から、サービス提供者が指定する方法により行います。

  %div.term
    %div.term-head (資格)
    %p 第３条 特に参加資格はありません。本サービスの趣旨に賛同頂ける方ならどなたでもご参加頂けます。

  %div.term
    %div.term-head (個人情報の取り扱い)
    %p 第４条 サービス提供者は、crowdb.usで収集した個人が特定され又は特定され得る情報(他の情報との照合により個人を特定することができる情報を含む)(以下「個人情報」といいます。)を、個人情報保護法に基づいて適正に管理し、利用目的終了後、速やかに破棄します。

  %div.term
    %div.term-head (個人情報の利用目的)
    %p 第５条 サービス提供者は、参加登録が完了した者(以下「参加登録者」といいます。)の個人情報を以下の各号に定める目的のために利用します。
    %ul.term-list
      %li (１) 参加登録者の管理。
      %li (２) 参加登録、投稿内容の確認(担当者から連絡をすることがあります。)
      %li (３) crowdb.usに関する必要なお知らせ。
      %li (４) crowdb.usの運用向上等に向けたデータの集計・分析等。

  %div.term
    %div.term-head (個人情報の利用・提供)
    %p 第６条 サービス提供者は、本人の同意を得た場合や法令等に定めがある場合などを除き、取得した個人情報を利用目的以外の目的で利用や提供をすることはありません。

  %div.term
    %div.term-head (個人情報の利用・提供)
    %p 第７条 参加登録者及び閲覧者がインターネット経由で本システムにアクセスする場合には、SSL方式採用による暗号化通信を行います。これにより、通信データが暗号化され、通信途中で第三者が盗聴、改ざん等することは非常に難しくなります。
    %p ２ なお、本システムをご利用になる際には、参加登録者自らも不正なアクセスから自己のパスワード、コンピュータを十分に保護するようにしてください。特に、他人と共用しているコンピュータ(インターネットカフェや公共端末など)で本システムをご利用になったときは、ログインしている場合には、サービス終了時に必ずログアウトし、Webブラウザを閉じるようにしてください。

  %div.term
    %div.term-head (パスワードの管理)
    %p 第８条 参加登録者は、自己の責任においてパスワードを管理し、これらを第三者に開示若しくは漏洩してはいけません。
    %p ２ サービス提供者は、パスワードに関する参加登録者自身の管理上及び使用上の過誤並びに第三者の使用により参加登録者に生じる損害または不利益について、一切責任を負いません。

  %div.term
    %div.term-head (届出義務)
    %p 第９条 参加登録者は登録情報に変更が生じた場合、登録内容を修正しなければなりません。
    %p ２ 前項の修正をしなかったことにより参加登録者に生じる不利益について、サービス提供者は一切責任を負いません。

  %div.term
    %div.term-head (参加登録者の禁止事項)
    %p 第１０条 参加登録者は、crowdb.usの利用にあたって、次の各号の行為を行ってはいけません。
    %ul.term-list
      %li (１) crowdb.usの運営を妨害する行為
      %li (２) 虚偽の登録を行うこと
      %li (３) 重複登録又はなりすまし登録を行うこと
      %li (４) 「投稿内容に関するガイドライン」において不適切とする投稿等を行うこと
      %li (５) その他サービス提供者が不適当と判断する行為
    %p ２ 前項各号の行為に起因してサービス提供者もしくは第三者に損害が生じた場合、参加登録者はその資格を喪失した後であっても、当該損害を賠償する責を負うことがあります。なお、この場合、サービス提供者は損害を被った第三者に対し一切責任を負いません。

  %div.term
    %div.term-head (資格の抹消)
    %p 第１１条 サービス提供者は、参加登録者が次の各号のいずれかに該当する場合においては、当該登録者の承諾の有無にかかわらず、システムの利用を禁じ、参加登録を抹消します。
    %ul.term-list
      %li (１) 本サービスの提供にあたり、サービス提供者からの連絡が取れなくなった場合
      %li (２) 前条の規定に違反した場合
    %p ２ サービス提供者は、前項の規定によりシステムの利用を禁じた場合においては、可能な限り当該登録者にその旨を通知するものとします。
    %p ３ 第１項第３号及び第４号に該当したことにより参加登録を抹消された者については、再度参加登録はできないものとします。

  %div.term
    %div.term-head (登録の解除)
    %p 第１２条 参加登録者は、crowdb.usへの登録の解除を希望する場合、crowdb.usアプリ又はcrowdb.usホームページ内の指定の方法により、登録解除の申出を行うこととし、申出と同時にcrowdb.usへの参加資格を喪失します。ただし、個人情報を含め、収集した情報については、サービス提供者が保管します。

  %div.term
    %div.term-head (免責)
    %p 第１３条 サービス提供者は、公開する投稿内容の正確性・最新性・有用性等について保証するものではありません。
    %p ２ 本サービスが提供した情報を自らの判断で利用したことにより、参加登録者及び閲覧者等が何らかの損害を受けた場合は、サービス提供者はいかなる責任も負いません。
    %p ３ システムのトラブル等によりcrowdb.usに参加できなかった場合、データの消失その他の不具合が発生した場合、サービス提供者はいかなる責任も負いません。

  %div.term
    %div.term-head (crowdb.usの終了)
    %p 第１４条 サービス提供者は、crowdb.usの全部又は一部を事前の通知することなく変更、廃止又は終了することができるものとします。

  %div.term
    %div.term-head (本規約の変更)
    %p 第１５条 サービス提供者は、事前の通知をすることなく本規約の変更を行う場合があります。なお、サービス提供者が当該変更を行った場合、crowdb.usホームページ、crowdb.usアプリ等を通じてお知らせします。

  %div.term
    %div.term-head (投稿内容の公開)
    %p 第１６条 投稿内容(バス停情報・写真)は、原則公開とします。ただし、サービス提供者がレポート内容を確認し、「crowdb.us 投稿公開に関するガイドライン」において不適切とする投稿と認める場合には、投稿を加工して公開することや、非公開、あるいは削除とすることがあります。

  %div.term
    %div.term-head (著作権)
    %p 第１７条 投稿内容の著作権は、参加登録者に留保されますが、参加登録者は、誰に対しても無償で利用(複製、複写、改変その他のあらゆる利用を含む)する権利をサービス提供者に許諾するものとします。この利用の許諾は参加登録の資格を抹消された後又は登録の解除を申し出た後においても取り消すことはできません。

  %div.term
    %div.term-head (登録情報及び投稿内容の利用について)
    %p 第１８条 登録情報及び投稿内容については、個人を特定できない情報とすることにより、第三者に提供する場合があります。
    %p ２ サービス提供者は投稿内容を任意の利用許諾条件で第三者に提供できるものとします。当面、共有財産としてできるだけ多くの方々に使ってもらう趣旨でCC BY 4.0の下に提供します。
    %p ３ 第三者向けに提供された投稿内容(バス停データ)を利用する場合には下記例のようなクレジット表記を行ってください。
    %ul.term-list
      %li 例)crowdb.usバス停データ(*1)/CC BY 4.0(*2)
      %li (*1)(*2)の文字列にはそれぞれ下記へのリンクを張ってください。印刷物などリンクを張れない場合は不要です。
      %li (*1)https://www.crowdb.us/
      %li (*2)https://creativecommons.org/licenses/by/4.0/deed.ja

  %div.term
    %div.term-head (国土数値情報について)
    %p 第１９条 投稿状況やバス停分布を把握し、バス停情報を投稿しやすくするために、国土交通省国土政策局「国土数値情報」のうち、バス停に係るデータを参考情報として事前に設定している場合があります。しかしながら、その利用条件に従い「国土数値情報」を直接第三者に提供することはありません。第三者に提供するのはあくまで参加登録者により提供あるいは内容確認が行われたものとします。

  %div.term
    %div.term-head (サービス提供者について)
    %p 第２０条 本サービスは東京大学生産技術研究所の委託により合同会社Georepublic Japanが提供を行っています。

  %div.term
    %div 附則
    %div 本規約は２０１６年１月３１日から適用します。
