// Place all the styles related to the bus_stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bus_stop_list_map, #bus_stop_list_list {
  height: 500px;
}

#bus_stop_list_list {
  overflow-y: auto;
  table {
    width: 100%;
    table-layout: fixed;

    .action {
      width: 30%;
      text-align: center;
    }
  }
}

#bus_stop_list_search {
  margin: 10px 0;
  input[type=text] {
    width: 80%;
  }
}

#bus_stop_show_map, #bus_stop_new_map {
  height: 400px;
}

#bus_operation_company_id, #bus_route_information_id {
  width: 100%;
}

#add_route_information:hover {
  background-color: #e7e8e8;
}

.route_delete {
  color: red;
  width: 5rem;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}

#get_current_position {
  margin-bottom: 2rem;
}

#bus_stop_show_photos_list {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 1rem;
  .photo {
    vertical-align: top;
  }
  .photo img {
    border: solid 1px #0078A8;
    margin-bottom: 2rem;
  }
}

#route_informations {
  td {
    vertical-align: middle;
  }
  .line_name_reload{
    margin-left: 1rem;
  }
}
}

#photos {
  .photo {
    text-align: center;
  }
}