Hello #{@resource.username}
\
You can set new password from below link
\
= edit_password_url(@resource, reset_password_token: @token)
\
Please ignore this email if you have not registered on our site.
The password is not changed until you set new one from above link.
\---
https://ffff.spaceapps.org/
