%p
  #{@resource.username} 様

%p=t('mailer.reset.body')

%p= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token)

%p=t('mailer.reset.notice')
%p=t('mailer.reset.notice2')
